# Assignment 20

In [1]:
# Q.1.

test1 = "This is a test of the emergency text system,"
f = open("test.txt", "x")

In [2]:
f.write(test1)

44

In [4]:
f.close()

In [7]:
# Q.2.

f = open("test.txt", "r")
test2 = f.read()
print(test2)

This is a test of the emergency text system,

In [8]:
f.close()

In [120]:
test1 == test2 #same

True

In [9]:
# Q.3.

contents = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992"""

In [10]:
contents

'title,author,year\nThe Weirdstone of Brisingamen,Alan Garner,1960\nPerdido Street Station,China Miéville,2000\nThud!,Terry Pratchett,2005\nThe Spellman Files,Lisa Lutz,2007\nSmall Gods,Terry Pratchett,1992'

In [14]:
records = []
rows = contents.split("\n")
for r in rows:
    records.append(r.split(","))
records

[['title', 'author', 'year'],
 ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
 ['Perdido Street Station', 'China Miéville', '2000'],
 ['Thud!', 'Terry Pratchett', '2005'],
 ['The Spellman Files', 'Lisa Lutz', '2007'],
 ['Small Gods', 'Terry Pratchett', '1992']]

In [11]:
import csv

In [45]:
f = open("books.csv", "w", newline="")

In [46]:
cw = csv.writer(f)

In [47]:
cw.writerows(records)

In [48]:
f.close()

In [49]:
f = open("books.csv", "r")
f.read()

'title,author,year\nThe Weirdstone of Brisingamen,Alan Garner,1960\nPerdido Street Station,China Miéville,2000\nThud!,Terry Pratchett,2005\nThe Spellman Files,Lisa Lutz,2007\nSmall Gods,Terry Pratchett,1992\n'

In [50]:
f.close()

In [25]:
# Q.4.

import sqlite3

In [26]:
conn = sqlite3.connect("books.db")

In [27]:
conn

In [28]:
cur = conn.cursor()

In [29]:
cur.execute("CREATE TABLE books (title TEXT, author TEXT, year INTEGER)")

In [31]:
conn.commit()

In [97]:
conn.close()

In [95]:
# Q.5.

f = open("books.csv", "r")

In [96]:
cr = csv.reader(f) #cr is an iterator object

In [98]:
conn = sqlite3.connect("books.db")
cur = conn.cursor()

In [99]:
headers = next(cr)
for line in cr:
    values = "'" + line[0] + "', '" + line[1] + "', " + line[2]
    sqlstatement = "INSERT INTO books VALUES (" + values + ")"
    print(sqlstatement)
    cur.execute(sqlstatement)

INSERT INTO books VALUES ('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
INSERT INTO books VALUES ('Perdido Street Station', 'China Miéville', 2000)
INSERT INTO books VALUES ('Thud!', 'Terry Pratchett', 2005)
INSERT INTO books VALUES ('The Spellman Files', 'Lisa Lutz', 2007)
INSERT INTO books VALUES ('Small Gods', 'Terry Pratchett', 1992)

In [100]:
f.close()

In [102]:
conn.commit()
conn.close()

In [112]:
# Q.6.

conn = sqlite3.connect("books.db")
cur = conn.cursor()

In [113]:
c = cur.execute("SELECT title FROM books ORDER BY title")

In [114]:
for l in c:
    print(l[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

In [115]:
conn.close()

In [116]:
# Q.7.

conn = sqlite3.connect("books.db")
cur = conn.cursor()

In [117]:
c = cur.execute("SELECT * FROM books ORDER BY year")

In [118]:
for l in c:
    print(l)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [119]:
conn.close()

In [121]:
# Q.8.

from sqlalchemy import create_engine

In [126]:
from sqlalchemy import Table, Column, Integer, String, MetaData

In [123]:
engine = create_engine("sqlite:///books.db")

In [124]:
engine

Engine(sqlite:///books.db)

In [9]:
# Q.9.

import redis

In [25]:
import redis

redis = redis.Redis(
 host= 'localhost',
 port= '6379')

redis.hset("test", "count", 1)

1

In [26]:
redis.hget("test", "count")

b'1'

In [27]:
redis.hset("test", "name", "Fester Bestertester")

1

In [28]:
redis.hget("test", "name")

b'Fester Bestertester'

In [30]:
redis.hgetall("test")

{b'count': b'1', b'name': b'Fester Bestertester'}

In [31]:
# Q.10.

redis.hincrby("test", "count", 1)

2

In [32]:
redis.hget("test", "count")

b'2'